.center   {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0F1626;
}
.flexcontainer  {
    display: flex;
    flex-direction: row;
    margin:10px;  
    align-items: center;
    justify-items: center;
    max-width: 950px;
}
.skill1 {
    width: 33%;
    padding:0px 30px 10px 30px;
    margin:10px;
    background-color: #f3f3f3;
    border-radius: 5px;
    min-height: 450px;
}
.skill2 {
    width: 33%;
    padding:0px 30px 10px 30px;
    margin:10px;
    background-color: #f3f3f3;
    border-radius: 5px;
    min-height: 450px;
}
.title  {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.subTitle   {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}
.placeholder    {
    display: flex;
    padding: 15px 0px 0px 0px;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
}
h1  {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.icon    {
 width: 250px;
}